.teaser-container{
  //@TODO Вынести в переменные
  margin-top: -19px;
}

.aori-lite-teaser {
  background: #8b96ba;
  background: linear-gradient(to left, #5b678c, #8b96ba);
  padding: 43px 0 49px 51px;

  .teaser-button {
    width: 277px;
    height: 35px;
    font-size: 16px;
  }

  h1 {
    width: 388px;
    color: #fff;
  }

  p {
    font-size: 17px;
    width: 462px;
    font-weight: bold;
  }

  .social-media-icons {
    margin: 10px 0;
  }

}

.benefits {
  background: #fff;

  .benefit-item {
    padding: 66px 0;

    .benefit-text {
      width: 195px;
      color: #a1a1a9;
    }
  }
}

.tariff-teaser {
  background: transparent;

  h3 {
    margin-bottom: 20px;
  }
}
