// ----------------------------
// AUDIT PAGE STYLES
// ----------------------------

.audit-item
  padding: 10px 15px
  background: #f6f6f6
  border-left: 2px solid #e7e7e7
  margin-bottom: 15px

  .audit-title
    width: 40%

#audit-report-tracking
  display: table
  width: 100%
  padding: 15px 10px 5px 10px

  #percent-reporting
    display: table-cell
    font-size: 50px
    font-weight: 200
    color: $info
    padding-right: 15px

  #reporting-progress-bar
    display: table-cell
    width: 100%
    font-size: 11px
    color: #999
    .progress
      margin-bottom: 0

.delete-item
  float: right
  color: #999
  &:hover
    color: $link-hover
    cursor: pointer
