/* COLORS - GENERAL */
$white: #ffffff
$black: #000000

$text-color: #555555
$link-color: #0079C2
$link-hover: #4E9DFF

/* COLORS - BUTTONS, ALERTS, LABELS, BADGES */
$default: #a1a1a1
$primary: #0079c2
$success: #60c060
$info: #5dc4ea
$warning: #fcad37
$danger: #ed5b56

// CoEFFICIENT Colors
$CF-purple: #362c66
$CF-display-name-light: #fff
$CF-display-name-dark: #000
$CF-purple-light: #7473a9
$CF-purple-lightest: #c2c4e0
