// ----------------------------
// PRE-DEFINED COLORS
// ----------------------------

// General Colors
$white: #ffffff
$silver: #f6f6f6
$greylightest: #e9e9e9
$greylight: #dadada
$grey: #cccccc
$greymedium: #999999
$greydark: #464646
$black: #000000

$text-color: #555555
$link-color: #0079c2
$link-hover: #4e9dff

// State Colors
// Buttons, Alerts, Labels, Badges, etc.
$default: #a1a1a1
$primary: #0079c2
$success: #60c060
$info: #5dc4ea
$warning: #fcad37
$danger: #ed5b56

// CoEFFICIENT Colors
$CF-purple: #362c66

// Social Site Colors
$facebook: #3b5998
$twitter: #00aced
$linkedin: #0e76a8
$google-plus: #dd4b39
