// ----------------------------
// CONTACTS LIST
// ----------------------------

.contacts-list
  li
    a
      display: table
      width: 100%
      padding: 15px
      border-bottom: 1px solid #e8e8e8
      color: $text-color
      &:hover
        background: rgba($primary, 0.1)
  li:last-child
    a
      border-bottom: 0

  .profile-image,
  .profile-information
    display: table-cell
    vertical-align: top

  .profile-image
    padding-right: 20px
    img
      width: 30px

  .profile-information
    width: 100%
    .secondary
      color: #999
      font-size: 11px
      line-height: 1