// ----------------------------
// DATE PICKER
// ----------------------------

.date-picker
  border: 0
  padding: 0 2px
  width: auto
  &:hover
    cursor: pointer

.datepicker-dropdown
  table
    thead
      border: 0
      border-bottom: 2px solid #dadada
    th
      font-weight: 600
    tbody
      td
        border: 0
    td,
    th
      border-radius: 2px
  &.dropdown-menu
    border-radius: 2px