/* Forms */
label
  font-weight: 600
  margin-bottom: 7px

.form-group
  margin-top: 10px

.form-control
  padding: 6px 8px
  font-size: 12px
  border-radius: 1px
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset
  &:focus
    border-color: #2598f9

/* Error */
.form-has-error
  color: $danger

.has-error
  position: relative
  .error-message
    color: $danger
    font-size: 11px