// ----------------------------
// FROALA EDITOR STYLE OVERRIDE
// ----------------------------

.froala-element
  &.f-placeholder
    + span.fr-placeholder
      color: #999
      top: 0
      padding-left: 0