// ----------------------------
// LISTS & LIST GROUPS
// ----------------------------

.list-group
  margin: 20px 0

.list-group-item
  margin-bottom: 5px
  padding: 0

  &:first-child,
  &:last-child
    border-radius: 0

.list-group-item-link
  padding: 10px 10px 10px 35px
  display: block