// ----------------------------
// POPOVERS
// ----------------------------

.popover
  border-radius: 2px
  background: $black
  color: $white
  font-size: 11px
  text-align: center

.popover.bottom
  > .arrow:after
    border-bottom-color: $black