@media print
  // Hide all navigation elements for print view
  #head-nav,
  #page-aside,
  .cl-sidebar,
  #fixed-action-header,
  .back-to-top,
  .btn
    display: none

  .block-flat
    border: 0
    margin-bottom: 0

  blockquote
    border-width: 0 0 0 2px

  img
    max-width: none !important

  // Hide elements that are "actions" that can be performed
  #js-add-attachments,
  .add-item-link
    display: none