@media print
  // Hide all navigation elements for print view
  #head-nav,
  #page-aside,
  .cl-sidebar,
  #fixed-action-header,
  .back-to-top,
  .btn
    display: none

  #cl-wrapper,
  .cl-mcont
    padding-top: 0 !important

  a[href]:after
    content: initial

  #note-content,
  #audit-content
    display: none !important

  #note-content-print,
  #audit-content-print
    display: block !important
    font-size: 12px
    line-height: 1.42857143
    white-space: pre-wrap

  .audit-pass-fail
    .btn
      display: inline-block
      -webkit-print-color-adjust:exact
    .btn-success
      background-color: $success !important
      z-index: 999
      color: $white !important
      /* ie-specific properties */
      border-width: 4px\0
      box-sizing: border-box\0
      padding-top: 4px\0
      padding-bottom: 4px\0
    .btn-danger
      background-color: $danger !important
      color: $white !important
      /* ie-specific properties */
      border-width: 4px\0
      box-sizing: border-box\0
      padding-top: 4px\0
      padding-bottom: 4px\0

  .block-flat
    border: 0
    margin-bottom: 0

  blockquote
    border-width: 0 0 0 2px

  img
    max-width: none !important

  // Hide elements that are "actions" that can be performed
  #js-add-attachments,
  .list-group-add-item,
  .add-item-link
    display: none

  .col-sm-8
    width: 100%
