@media print
  // Hide all navigation elements for print view
  #head-nav,
  #page-aside,
  .cl-sidebar,
  #fixed-action-header,
  .back-to-top,
  .btn
    display: none

  a[href]:after
    content: initial

  #note-content,
  #audit-content
    display: none !important

  #note-content-print,
  #audit-content-print
    display: block !important
    font-size: 12px
    line-height: 1.42857143
    white-space: pre-wrap

  .block-flat
    border: 0
    margin-bottom: 0

  blockquote
    border-width: 0 0 0 2px

  img
    max-width: none !important

  // Hide elements that are "actions" that can be performed
  #js-add-attachments,
  .list-group-add-item,
  .add-item-link
    display: none