// ----------------------------
// STYLEGUIDE
// ----------------------------

.anchor
  display: block
  height: 150px
  margin-top: -150px
  visibility: hidden

.anchor-link
  float: right
  font-size: 15px

// Scrollspy Navigation Styling
#styleguide-container
  position: relative

#styleguide-nav
  position: fixed
  .nav
    .nav
      display: none
      padding-bottom: 10px
      > li
        a
          padding-left: 30px
        a:hover
          background: none
          padding-left: 29px
          border-left: 1px solid $link-hover
          color: $link-hover
    > li
      > a
        display: block
        padding: 1px 20px
        color: $text-color
        background: none
      > a:hover
        padding-left: 19px
        color: $link-hover
        border-left: 1px solid $link-hover
    > .active
      > a, a:hover
        padding-left: 15px
        color: $link-color
        background: transparent
        border-left: 2px solid $link-color
    > .active
      > ul
        display: block

.nav
  > li
    position: relative
    display: block
