/* General */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  font-family: 'Open Sans', sans-serif
  font-weight: 300

a
  color: $primary
  text-decoration: none
  outline: 0 none
  &:focus, &:hover, &:active
    color: #4E9DFF
    text-decoration: none
    outline: 0 none


/* Page Title */
.page-head
  background: $white
  border-bottom: 1px solid #E9E9E9
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05)
  padding: 20px 25px
  position: relative

  h2
    font-family: 'Open Sans', sans-serif
    font-weight: 300
    letter-spacing: -1px
    margin-bottom: 5px
    margin-top: 6px


/* CONTENT */
#cl-wrapper
  h3
    margin-top: 0
.cont
  h2
    font-family: "Raleway", Helvetica, sans-serif
    font-size: 32px
    font-weight: 100
    line-height: 38px
    margin: 0 0 10px 0

  h5
    font-size: 13px
    font-weight: 200
    line-height: 21px

  p
    font-size: 13px
    line-height: 22px
    color: $text-color

  b,
  strong
    font-weight: 400

.hthin
  font-family: "Raleway", Helvetica, sans-serif !important
  font-weight: 100 !important


/* Pre & Code */
pre
  border-radius: 2px
  margin-top: 20px
  white-space: pre
  padding: 0
  word-break: initial
  word-wrap: initial
  code
    white-space: inherit


/* Well */
.well p:last-child
  margin: 0


/* Blockquotes */
blockquote
  padding: 0 15px
  margin: 30px 0
  border-left: 2px solid #EEEEEE
  font-size: 13px
  ul
    padding-left: 15px