<div class="codeTable">
  <table>
    <tbody>
      <% examples.each do |example| %>
        <tr>
          <th>
            <div class="exampleOutput">
              <%= example.rendered_example %>
            </div>
          </th>
          <td>
            <div class="codeBlock">
              <div class="highlight">
                <pre><%= example.code_example %></pre>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

