*.gem
.sass-cache
bootstrap.css
bootstrap-responsive.css
Gemfile.lock
.rvmrc
.rbenv-version

# Ignore bundler config
/.bundle
/vendor/cache
/vendor/bundle
tmp/
test/screenshots/
test/dummy/log/test.log