// ----------------------------
// AUDIT REPORTING STYLES
// ----------------------------

#jump-to-current
  margin-right: 10px

#currently-viewing
  margin-left: 15px

#audit-report-tracking
  display: table
  width: 100%
  padding: 10px

  #percent-reporting
    display: table-cell
    font-weight: 200
    color: $info
    padding-right: 15px
    line-height: 1
    @extend %huge

  #reporting-progress-bar
    display: table-cell
    vertical-align: middle
    width: 100%
    color: #999
    @extend %itsy
    .progress
      margin-bottom: 0

#audit-report
  float: right
  text-align: right
  #percent-reporting
    line-height: 1
    color: $info
    @extend %huge
  #passed-results
    font-style: italic
    color: $greymedium

#reporting-table
  margin-top: 20px

.audit-report-section
  margin-top: 20px

  // syang - refactor when we can add classes to table columns
  table
    tr
      th:first-child,
      td:first-child
        width: 80%
      th:not(:first-child),
      td:not(:first-child)
        text-align: center

@media print
  #audit-report-tracking
    #reporting-progress-bar
      vertical-align: top
