@import 'bootstrap_variable';
@import 'bootstrap_loader';
@import 'mixins/hover';

@import 'card';

body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
  margin-bottom: 500px;
}

.single-buttons {
  .btn {
    margin-bottom: 16px;
  }
}

.logoimg {
  margin-right: 10px;
}

.grid {
  .row {
    margin-bottom: 30px;

    div {
      div {
        background-color: #ccc;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}
