.btn-flat {
  color: #333;
  background-color: transparent;
  border-radius: 4px;

  [data-use-hover] &:hover {
    color: #333;
    background-color: rgba(0,0,0,.05);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #333;
    background-color: rgba(0,0,0,.1);
  }
}
