//
// Sample usage of Direction Controller
//

body {
    direction: $text-direction;
    text-align: $start;

    // For different image in your code, you can use this solution. Use
    background-image: url(../img/#{$text-direction}/bg.png);
    background-position: $start top;

	@include if-ltr {
		line-height: 18px;
	}
	@include if-rtl {
		line-height: 22px;
		h1 {
			line-height: 25px;
		}
	}
}

#container {
    float: $start;
    line-height: dir-check(52px, 30px);
    padding: dir-values(1px 2px 3px 0);
}

#sidebar {
    float: $end;
    margin-#{$start}: 50px;
}
.next {
	content: dir-check('>', '<');
}
.br {
	border-radius: br-values(0 0 25px 0);
}