.t-error {
  background-color: $brand-primary;
  color: $white;

  hr {
    height: 1px;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    max-width: 20rem;
    margin: 2rem 0;
  }
}

.c-error-page__container {
    display: flex;
    padding: 0 5vw;
    max-width: 60rem;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.c-error-page__header {
    font-size: floor($font-size-base * 4);
    font-weight: 700;
    color: $white;
}

.c-error-page__subheader {
    font-size: floor($font-size-base * 3);
    color: $white;
}

.c-error-page__context {
    font-size: floor($font-size-base * 1.5)
}
