<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>Wild Parrot</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.datetimepicker/bootstrap-datepicker.standalone.scss" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="node_modules/gritter/css/jquery.gritter.css" />

  <link href="stylesheets/main.css" rel="stylesheet" />
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery/plugins/jquery.nanoscroller.js"></script>
  <script type="text/javascript" src="javascripts/localdev/general.js"></script>
  <script type="text/javascript" src="javascripts/html5lightbox/html5lightbox.js"></script>

</head>
<body>

  <!-- Loading Overlay Markup
  <div id="loading-overlay">
    <div id="loading-overlay-content">
      <i id="loading-icon" class="fa fa-spinner fa-spin"></i>
      <div id="loading-message">Please wait while we prepare your note.</div>
      <div id="loading-action">
        <button class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>
  -->

  <% include header.html.ejs %>

  <!-- BEGIN WRAPPER -->
  <div id="cl-wrapper" class="fixed-menu aside">

    <!-- <% include notes-sidebar.html.ejs %> -->

    <!-- BEGIN SECONDARY NAVIGATION -->
    <div id="page-aside">
      <div class="content">
        <div id="aside-header" class="header">
          <button class="navbar-toggle" data-target="#aside-nav" data-toggle="collapse" type="button">
            <span class="fa fa-chevron-down"></span>
          </button>
          <h3>Notes</h3>
          <div class="main-action">
            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i> New Note</button>
          </div>
        </div>
        <div id="aside-nav" class="collapse">
          <div id="aside-items" class="nano nscroller">
            <ul class="nano-content">
              <li class="note-date-section">May 28, 2015</li>
              <li id="note-list-1" class="selected" onclick="show_note1();">
                <div class="note-list-title">Paleo 3 wolf moon mlkshk, raw denim disrupt lomo vegan</div>
                <div class="note-list-info">Town North Nissan - 2304 on May 28, 2015</div>
                <div class="note-list-preview">Fixie irony occupy, bicycle rights. Heirloom quinoa shabby, iPhone artisan Neutra cray street art kale chips.</div>
              </li>
              <li id="note-list-2" onclick="show_note2();">
                <div class="note-list-title">Distillery whatever vinyl locavore</div>
                <div class="note-list-info">Clay Cooley Nis Austin SO - 5422 on May 28, 2015</div>
                <div class="note-list-preview">Crucifix migas Helvetica actually mumblecore, health goth occupy fashion axe. Occupy Etsy Odd Future.</div>
              </li>
              <li class="end-of-items">End of Notes</li>
            </ul>
          </div>
          <div class="aside-scroll-header">
            <div id="aside-total-items">7 Notes</div>
            <div id="aside-sort">
              Sort by
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modified <i class="fa fa-sort-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">Modified</a></li>
                <li><a href="#">Visit</a></li>
                <li><a href="#">Location</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SECONDARY NAVIGATION -->



    <!-- BEGIN MAIN CONTENT AREA -->
    <div id="pcont" class="note1">
      <!-- Drag and drop overlay -->
      <!-- <div id="drag-drop-attach">
        <img src="images/drop-indicator.png"/>
      </div> -->
      <div id="fixed-action-header">
        <div class="action-header-left">
          <button type="button" id="print-button" class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i></button>
          <button type="button" id="note-emailed" class="btn btn-default"><i class="fa fa-envelope"></i></button>
          <!-- Disabled button example (if there are action items on page) -->
          <div class="disabled-button-wrapper" data-toggle="tooltip" data-placement="bottom" title="Notes with action items cannot be deleted.">
            <button type="button" id="note-deleted" class="btn btn-default" disabled><i class="fa fa-trash-o"></i></button>
          </div>
        </div>
      </div>
      <div class="cl-mcont">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="block-flat">
              <div class="content notes-container">
                <span class="note-metainfo">
                  <span class="created-on">Created on May 01, 2015</span>
                  <span class="meta-separator"> | </span>
                  <span class="modified-on">Last modified on May 28, 2015 at 2:14pm</span>
                </span>
                <h3 id="note-title">Paleo 3 wolf moon mlkshk, raw denim disrupt lomo vegan</h3>
                <div class="visit-info">
                  <div class="visit-info-row">
                    <span class="visit-info-label">Author:</span> Missy Bergen
                  </div>
                  <div class="visit-info-row">
                    <span class="visit-info-label">Visited on:</span>
                    <input class="datepicker" type="text" value="May 01, 2015" />
                  </div>
                  <div class="visit-info-row">
                    <span class="visit-info-label">Location:</span>
                    <span class="location-selector">
                      <span id="set-location" class="dropdown-toggle" data-toggle="dropdown"><a href"#" style="text-decoration: underline; cursor: pointer;">Town North Nissan</a></span>
                      <ul class="dropdown-menu autocomplete-results">
                        <li><a href="#">Trophy Nissan</a></li>
                        <li><a href="#">Town North Nissan</a></li>
                        <li><a href="#">Clay Cooley Nissan</a></li>
                      </ul>
                    </span>
                  </div>
                </div>
                <section id="editor">
                  <div id="note-content" class="froala-box">
                    <p>
                      Fixie irony occupy, bicycle rights. Heirloom quinoa shabby, iPhone artisan Neutra cray street art kale chips. Banjo art party hoodie banh mi McSweeney's next level, pop-up tilde tattooed hella +1. Plaid, American Apparel whatever tofu XOXO gluten-free.
                    </p>
                    <ul>
                      <li>Chillwave fashion axe locavore</li>
                      <li>Selvage 8-bit organic</li>
                      <li>Roof party selfies</li>
                      <li>Cornhole Blue Bottle</li>
                    </ul>
                    <p>
                      <strong>Kickstarter aesthetic jean shorts</strong><br/>
                      <em>Gentrify street art tilde kale chips post-ironic typewriter</em><br/>
                      <u>Etsy typewriter raw denim Shoreditch</u>
                    </p>
                    <blockquote>
                      Literally next level High Life disrupt. Cold-pressed Pitchfork cardigan salvia, hoodie irony gentrify small batch Portland. YOLO Helvetica Williamsburg semiotics VHS, 8-bit kogi whatever stumptown selfies Marfa chillwave brunch Tumblr.
                    </blockquote>
                  </div>
                </section>
              </div>
            </div>
            <div class="block-flat">
              <div class="header">
                <h3>Action Items</h3>
              </div>
              <div class="content">
                <ul class="list-group">
                  <li class="list-group-item marked-complete">
                    <input type="checkbox" checked name="check1" class="action-item-checkbox">
                    <a href="javascript:void(0);" onclick="slideout();" class="list-group-item-link">
                      <span class="item-title">Godard tattooed fixie trust fund</span>
                      <span class="item-due-date">
                        Completed on<br/>
                        May 18, 2015
                      </span>
                      <span class="item-assigned-to"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<div class='user-popover'><img src='https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg' class='profile-pic'><div class='user-name'>Seth Juarez</div><div class='user-title'>Manager</div></div>"/></span>
                    </a>
                  </li>
                  <li class="list-group-item marked-complete">
                    <input type="checkbox" checked name="check1" class="action-item-checkbox">
                    <a href="javascript:void(0);" onclick="slideout();" class="list-group-item-link">
                      <span class="item-title">Austin Kickstarter polaroid Marfa occupy scenester heirloom ennui migas four dollar toast. Messenger bag chia fixie.</span>
                      <span class="item-due-date">
                        Completed on<br/>
                        May 18, 2015
                      </span>
                      <span class="item-assigned-to"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<div class='user-popover'><img src='https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg' class='profile-pic'><div class='user-name'>Seth Juarez</div><div class='user-title'>Manager</div></div>"/></span>
                    </a>
                  </li>
                  <li class="list-group-item on-track">
                    <input type="checkbox" name="check2" class="action-item-checkbox">
                    <a href="javascript:void(0);" onclick="slideout();" class="list-group-item-link">
                      <span class="item-title">Tofu tattooed 8-bit, aesthetic 90's artisan</span>
                      <span class="item-due-date">June 25, 2015</span>
                      <div class="item-assigned-to"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/scottkclark/128.jpg" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<div class='user-popover'><img src='https://s3.amazonaws.com/uifaces/faces/twitter/scottkclark/128.jpg' class='profile-pic'><div class='user-name'>Scott K Clark</div><div class='user-title'>Manager</div></div>"/></div>
                    </a>
                  </li>
                  <li class="list-group-item past-due">
                    <input type="checkbox" name="check3" class="action-item-checkbox">
                    <a href="javascript:void(0);" onclick="slideout();" class="list-group-item-link">
                      <span class="item-title">Donec sem turpis</span>
                      <span class="item-due-date">May 30, 2015</span>
                      <div class="item-assigned-to"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<div class='user-popover'><img src='https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg' class='profile-pic'><div class='user-name'>Josh Austin</div><div class='user-title'>Manager</div></div>"/></div>
                    </a>
                  </li>
                </ul>
                <a href="javascript:void(0);">+ Add a new action item</a>
              </div>
            </div>
            <div class="block-flat">
              <div class="header">
                <h3>Attachments</h3>
              </div>
              <div class="content">
                <div id="attachments">
                  <div class="attachment-item">
                    <div id="add-attachment">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-plus fa-stack-1x"></i>
                      </span>
                    </div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <a href="http://www.birdchannel.com/images/articles/bird-blog/macaw-flock-lg.jpg" class="html5lightbox" title="image01.jpg" data-group="attachments"><img src="http://www.birdchannel.com/images/articles/bird-blog/macaw-flock-lg.jpg"></a>
                    </div>
                    <div class="attachment-info"><i class="fa fa-picture-o"></i> image01.jpg</div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <a href="http://blog.pennlive.com/pets/2008/01/medium_Macaw-jpatokal.jpg" class="html5lightbox" title="image02.jpg" data-group="attachments"><img src="http://blog.pennlive.com/pets/2008/01/medium_Macaw-jpatokal.jpg" class="portrait"></a>
                    </div>
                    <div class="attachment-info"><i class="fa fa-picture-o"></i> image02.jpg</div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <a href="https://html5box.com/html5lightbox/images/Big_Buck_Bunny_2.m4v" class="html5lightbox" title="Big_Buck_Bunny_2.m4v" data-group="attachments"><img src="images/videoOverlay.png" class="is-video">
                      <img src="https://html5box.com/html5lightbox/images/Big_Buck_Bunny_3_96.jpg"></a>
                    </div>
                    <div class="attachment-info"><i class="fa fa-video-camera"></i> Big_Buck_Bunny_2.m4v</div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <a href="http://www.parrots.org/images/parrotgallery/SunConure/wpt1177_medium.jpg" class="html5lightbox" title="example-of-a-long-filename.png" data-group="attachments"><img src="http://www.parrots.org/images/parrotgallery/SunConure/wpt1177_medium.jpg"></a>
                    </div>
                    <div class="attachment-info"><i class="fa fa-picture-o"></i> example-of-a-long-filename.png</div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <i class="fa fa-file"></i>
                    </div>
                    <div class="attachment-info"><i class="fa fa-file"></i> attachedfile.jpg</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT AREA -->


    <!-- BEGIN MAIN CONTENT AREA -->
    <div id="pcont" class="note2" style="display: none;">
      <div id="fixed-action-header2">
        <div class="action-header-left">
          <button type="button" id="print-button2" class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i></button>
          <button type="button" id="note-emailed2" class="btn btn-default"><i class="fa fa-envelope"></i></button>
          <button type="button" id="note-deleted2" class="btn btn-default" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<p>Are you sure you want to delete?</p> <button type='button' id='cancel-deactivate' onclick='close_popover();' class='btn btn-xs btn-nostyle-popover'>No</button> <button type='button' onclick='delete_note();' class='btn btn-xs btn-default'>Yes</button>"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <div class="cl-mcont">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="block-flat">
              <div class="content notes-container">
                <span class="note-metainfo">
                  <span class="created-on">Created on May 10, 2015</span>
                  <span class="meta-separator"> | </span>
                  <span class="modified-on">Last modified on May 28, 2015 at 2:14pm</span>
                </span>
                <h3 id="note-title">Distillery whatever vinyl locavore</h3>
                <div class="visit-info">
                  <div class="visit-info-row">
                    <span class="visit-info-label">Author:</span> Missy Bergen
                  </div>
                  <div class="visit-info-row">
                    <span class="visit-info-label">Visited on:</span>
                    <input class="datepicker" type="text" value="May 11, 2015" />
                  </div>
                  <div class="visit-info-row">
                    <span class="visit-info-label">Location:</span>
                    <span class="location-selector">
                      <span id="set-location" class="dropdown-toggle" data-toggle="dropdown"><a href"#" style="text-decoration: underline; cursor: pointer;">Clay Cooley Nis Austin SO</a></span>
                      <ul class="dropdown-menu autocomplete-results">
                        <li><a href="#">Trophy Nissan</a></li>
                        <li><a href="#">Town North Nissan</a></li>
                        <li><a href="#">Clay Cooley Nissan</a></li>
                      </ul>
                    </span>
                  </div>
                </div>
                <section id="editor">
                  <div id="note-content" class="froala-box">
                    <p>
                      Crucifix migas Helvetica actually mumblecore, health goth occupy fashion axe. Occupy Etsy Odd Future.
                    </p>
                    <ul>
                      <li>Chillwave fashion axe locavore</li>
                      <li>Selvage 8-bit organic</li>
                      <li>Roof party selfies</li>
                      <li>Cornhole Blue Bottle</li>
                    </ul>
                  </div>
                </section>
              </div>
            </div>
            <div class="block-flat">
              <div class="header">
                <h3>Action Items</h3>
              </div>
              <div class="content">
                <ul class="list-group">
                </ul>
                <a href="javascript:void(0);">+ Add a new action item</a>
              </div>
            </div>
            <div class="block-flat">
              <div class="header">
                <h3>Attachments</h3>
              </div>
              <div class="content">
                <div id="attachments">
                  <div class="attachment-item">
                    <div id="add-attachment">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-plus fa-stack-1x"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT AREA -->

    <div class="slideout-overlay active" style="display: none;">
      <a href="javascript:void(0);" class="overlay-close" onclick="slidein();"></a>
      <div class="slideout-close" onclick="slidein();"><i class="fa fa-times"></i></div>
      <div id="slideout">
        <div id="slideout-inner">
          <div class="slideout-wrap">
            <div class="content">
              <!-- For completed items in slideout -->
              <!-- <div class="item-completed-message">Completed on May 23, 2015</div> -->
              <div id="action-item-details">
                <!-- <div id="action-item-name" class="marked-complete">
                  <input id="action-item-checkbox" type="checkbox" checked> An action item with no set due date or assigned
                </div> -->
                <div id="action-item-name">
                  <input id="action-item-checkbox" type="checkbox"> An action item with no set due date or assigned
                </div>
                <div class="action-item-meta">
                  <span class="meta-icon"><i class="fa fa-book"></i></span> My Note About Something
                </div>
                <div class="action-item-meta">
                  <span class="meta-icon"><i class="fa fa-map-marker"></i></span> Town North Nissan - 1234
                </div>
                <div class="action-item-meta">
                  <span class="meta-icon"><i class="fa fa-user"></i></span> Jonathan Crowe (owner)
                </div>
              </div>
              <div class="form-group">
                <label>Assigned To</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" data-toggle="dropdown">
                  <ul class="dropdown-menu autocomplete-results full-width">
                    <!-- <li class="global-search-message">
                      <p>No results found.</p>
                    </li> -->
                    <li>
                      <a href="#" class="global-search-item">
                        <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg"></div>
                        <div class="global-search-title">
                          John Weathers
                          <div class="global-search-subtitle">FOM</div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="global-search-item">
                        <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/scottkclark/128.jpg"></div>
                        <div class="global-search-title">
                          Joe Johnson
                          <div class="global-search-subtitle">AGM</div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="global-search-item">
                        <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg"></div>
                        <div class="global-search-title">
                          Clay Johnson
                          <div class="global-search-subtitle">DOM</div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label>Due Date</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control datepicker">
                </div>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="10"></textarea>
              </div>
              <button type="button" class="btn btn-nostyle btn-right"><i class="fa fa-trash-o"></i></button>
              <button type="button" class="btn btn-primary">Update</button>
              <button type="button" class="btn btn-default" onclick="slidein();">Cancel</button>
            </div>
          </div>
          <!-- END TODO -->

        </div>
      </div>
    </div>
  </div>
  <!-- END WRAPPER -->

  <script type="text/javascript" src="javascripts/bootstrap.datetimepicker/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="node_modules/gritter/js/jquery.gritter.js"></script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript">
    $(document).ready(function(){
      //initialize the javascript
      App.init();

      $(".nscroller").nanoScroller({ preventPageScrolling: true });

      $(".datepicker").datepicker({
        todayHighlight: true,
        format: "MM dd, yyyy",
        autoclose: true
      });

      $('[data-toggle="popover"]').popover();
    });

    $("#note-emailed").click(function(){
      $.gritter.add({
        text: "'Paleo 3 wolf moon mlkshk, raw denim disrupt lomo vegan' has been emailed to your inbox.",
        class_name: 'clean',
        time: 3000
      });
      return false;
    });

    $("#note-emailed2").click(function(){
      $.gritter.add({
        text: "'Distillery whatever vinyl locavore' has been emailed to your inbox.",
        class_name: 'clean',
        time: 3000
      });
      return false;
    });

    $("#note-delete").click(function(){
      $("#note-delete").popover('toggle');
    });
  </script>
  <!-- TODO: The functions below are only temporary for purposes of markup -->
  <script>
    function slideout() {
      $(".slideout-overlay").show();
    }
    function slidein() {
      $(".slideout-overlay").hide();
    }
    function show_note1() {
      $("#note-list-1").addClass('selected');
      $("#note-list-2").removeClass('selected');
      $(".note1").show();
      $(".note2").hide();
    }
    function show_note2() {
      $("#note-list-1").removeClass('selected');
      $("#note-list-2").addClass('selected');
      $(".note1").hide();
      $(".note2").show();
    }
    function restore_note() {
      $(".note1").hide();
      $(".note2").show();
      $("#note-list-2").show();
      $("#note-list-1").removeClass('selected');
      $("#note-list-2").addClass('selected');
      $.gritter.removeAll();
      return false;
    }
    function delete_note() {
      $(".note2").hide();
      $("#note-list-2").hide();
      $(".note1").show();
      $("#note-list-1").addClass('selected');
      $("#note-deleted2").popover('hide');
    }
    function close_popover() {
      $("#note-deleted2").popover('hide');
    }
  </script>
  <!-- END TODO -->
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
