<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>My Profile</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

  <link href="stylesheets/main.css" rel="stylesheet" />
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery/plugins/jquery.nanoscroller.js"></script>
  <script type="text/javascript" src="javascripts/localdev/general.js"></script>

</head>
<body>

  <% include header.html.ejs %>

  <div id="cl-wrapper" class="fixed-menu">

    <% include notes-sidebar.html.ejs %>

    <div class="cl-mcont">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-flat">
            <div class="profile-badge">
              <div class="badge-row">
                <div class="badge-cell profile-image">
                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/128.jpg" >
                </div>
                <div class="badge-cell profile-details">
                  <span class="profile-name">John Weathers</span><br/>
                  Field Operations Manager<br/>
                  (123) 456-7890<br/>
                  <a href="mailto:jweathers@company.com">jweathers@company.com</a>
                </div>
                <div class="badge-cell social">
                  <a href="http://plus.google.com" class="btn btn-default btn-google-plus">
                    <i class="fa fa-google-plus"></i>
                  </a>

                  <a href="http://www.facebook.com" class="btn btn-default btn-facebook">
                    <i class="fa fa-facebook"></i>
                  </a>

                  <a href="http://www.twitter.com" class="btn btn-default btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </a>

                  <a href="http://www.linkedin.com" class="btn btn-default btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="block-flat">
            <div class="header">
              <h3>Recent Audits</h3>
            </div>
            <div class="content">
              <h4>Monthly Retailer Quality Inspection</h4>
              <table class="datatable">
                <thead>
                  <tr>
                    <th>Location <i class="fa fa-sort-down active"></i></th>
                    <th class="text-center">Audit Date <i class="fa fa-sort"></i></th>
                    <th class="text-center">Score <i class="fa fa-sort"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Town North Nissan - 0934</td>
                    <td class="text-center">September 14, 2015</td>
                    <td class="text-center">85%</td>
                  </tr>
                  <tr>
                    <td>Pete Townsend Store - 9932</td>
                    <td class="text-center">September 12, 2015</td>
                    <td class="text-center">OPEN</td>
                  </tr>
                  <tr>
                    <td>Town Lake Store - 0054</td>
                    <td class="text-center">September 12, 2015</td>
                    <td class="text-center">97%</td>
                  </tr>
                  <tr>
                    <td>Starwood City Store - 2165</td>
                    <td class="text-center">September 11, 2015</td>
                    <td class="text-center">78%</td>
                  </tr>
                  <tr>
                    <td>Pearl Street Store - 0094</td>
                    <td class="text-center">September 7, 2015</td>
                    <td class="text-center">89%</td>
                  </tr>
                </tbody>
              </table>

              <br/>
              <h4>Quarterly Touch Point Review</h4>
              <table class="datatable">
                <thead>
                  <tr>
                    <th>Location <i class="fa fa-sort-down active"></i></th>
                    <th class="text-center">Audit Date <i class="fa fa-sort"></i></th>
                    <th class="text-center">Score <i class="fa fa-sort"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Town North Nissan - 0934</td>
                    <td class="text-center">August 24, 2015</td>
                    <td class="text-center">85%</td>
                  </tr>
                  <tr>
                    <td>Pete Townsend Store - 9932</td>
                    <td class="text-center">August 20, 2015</td>
                    <td class="text-center">OPEN</td>
                  </tr>
                  <tr>
                    <td>Town Lake Store - 0054</td>
                    <td class="text-center">August 11, 2015</td>
                    <td class="text-center">97%</td>
                  </tr>
                </tbody>
              </table>
              <div class="view-all-break">
                <p>
                  <a href="audits.html">View all</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
    $(document).ready(function(){
          //initialize the javascript
          App.init();
        });

    </script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
