<div class="cl-sidebar">
  <div class="cl-toggle"><i class="fa fa-bars"></i></div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content nano-content">
        <ul class="cl-vnavigation">
          <li id="sidebar-profile">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/48.jpg" title="John Weathers - Field Operations Manager">
            <div id="current-name">John Weathers</div>
            <div id="current-title">Field Operations Manager</div>
            <div id="current-edit"><a href="myprofile.html">Edit Profile</a></div>
          </li>
          <li><a href="fieldaudits.html" title="Audits"><i class="fa fa-dot-circle-o"></i><span>Audits</span></a></li>
        </ul>
      </div>
    </div>
    <div class="collapse-button">
      <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
    </div>
  </div>
</div>