<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>Wild Parrot</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

  <link href="stylesheets/main.css" rel="stylesheet" />
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery/plugins/jquery.nanoscroller.js"></script>
  <script type="text/javascript" src="javascripts/coefficient/general.js"></script>

</head>
<body>

  <% include header.html.ejs %>

  <div id="cl-wrapper" class="fixed-menu">
    <% include wp-sidebar.html.ejs %>

    <div class="page-head">
      <h2>Form Elements</h2>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Form</a></li>
        <li class="active">Elements</li>
      </ol>
    </div>
    <div class="cl-mcont">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="block-flat">
            <div class="header">
              <h3>Basic Form</h3>
            </div>
            <div class="content">
              <form role="form">
                <div class="form-group">
                  <label>Email address</label> <input type="email" placeholder="enter your email address" class="form-control">
                </div>
                <div class="form-group">
                  <label>Password</label> <input type="password" placeholder="enter your password" class="form-control">
                  <!--
                  <div class="password-strength">
                    <div class="password-strength-meter strength-strong" style="width: 90%"></div>
                  </div>
                  <div class="helper-text">password strength: <span class="strength-strong">strong</span></div>
                  -->
                </div>
                <div class="checkbox">
                  <label> <input type="checkbox"> Remember me </label>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-default">Cancel</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6">
          <div class="block-flat">
            <div class="header">
              <h3>Auth Pages Form</h3>
            </div>
            <div class="content">
              <form role="form">
                <div class="form-group">
                  <label>Email address</label> <input type="email" placeholder="enter your email address" class="form-control">
                </div>
                <div class="form-group">
                  <label>Password</label> <input type="password" placeholder="enter your password" class="form-control">
                </div>
                <div class="form-group">
                  <br/>
                  <input type="submit" class="btn btn-full btn-flat btn-primary" value="Sign In"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="block-flat">
            <div class="header">
              <h3>Basic Elements</h3>
            </div>
            <div class="content">
               <form action="#" style="border-radius: 0px;">
                <div class="form-group">
                  <label>Input Text</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Input Password</label>
                  <input type="password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Placeholder Input</label>
                  <input type="text" class="form-control" placeholder="Placeholder text">
                </div>
                <div class="form-group">
                  <label>Disabled Input</label>
                  <input type="text" disabled="disabled" class="form-control" placeholder="Disabled input text">
                </div>
                <div class="form-group">
                  <label>Readonly Input</label>
                  <input type="text" readonly="readonly" class="form-control" value="Readonly input text">
                </div>
                <div class="form-group">
                  <label>Textarea</label>
                  <textarea class="form-control"></textarea>
                </div>
              </form>
            </div>
          </div>

          <div class="block-flat">
            <div class="header">
              <h3>Select & Option Elements</h3>
            </div>
            <div class="content">
              <form class="group-border-dashed" action="#" style="border-radius: 0px;">
                <div class="form-group">
                  <label>Basic Select</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Multiple Select</label>
                  <select multiple class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Radio</label>
                  <div class="radio">
                    <label> <input type="radio" checked="" name="rad1"> Option 1</label>
                  </div>
                  <div class="radio">
                    <label> <input type="radio" name="rad1"> Option 2</label>
                  </div>
                  <div class="radio">
                    <label> <input type="radio" name="rad1"> Option 3</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Inline Radio</label>
                  <div>
                    <label class="radio-inline"> <input type="radio" checked="" name="rad1"> Option 1</label>
                    <label class="radio-inline"> <input type="radio" name="rad1"> Option 2</label>
                    <label class="radio-inline"> <input type="radio" name="rad1"> Option 3</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Checkbox</label>
                  <div class="checkbox">
                    <label> <input type="checkbox" checked="" name="check1"> Option 1</label>
                  </div>
                  <div class="checkbox">
                    <label> <input type="checkbox" name="check2"> Option 2</label>
                  </div>
                  <div class="checkbox">
                    <label> <input type="checkbox" name="check3"> Option 3</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Inline Checkbox</label>
                  <div>
                    <label class="checkbox-inline"> <input type="checkbox" checked="" name="rad1"> Option 1</label>
                    <label class="checkbox-inline"> <input type="checkbox" name="rad1"> Option 2</label>
                    <label class="checkbox-inline"> <input type="checkbox" name="rad1"> Option 3</label>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="block-flat">
            <div class="header">
              <h3>Input Level Errors</h3>
            </div>
            <div class="content">
              <form role="form">
                <div class="form-group has-error">
                  <label>Email address</label> <input type="email" placeholder="enter your email address" class="form-control">
                  <div class="error-message">please enter a valid email address.</div>
                </div>
                <div class="form-group">
                  <label>Password</label> <input type="password" placeholder="enter your password" class="form-control">
                </div>
                <div class="checkbox">
                  <label> <input type="checkbox"> Remember me </label>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-default">Cancel</button>
              </form>
            </div>
          </div>

          <div class="block-flat">
            <div class="header">
              <h3>Form Level Errors</h3>
            </div>
            <div class="content">
              <form role="form">
                <p class="form-has-error">We didn't recognize your email and password combination. Please try again.</p>
                <div class="form-group">
                  <label>Email address</label> <input type="email" placeholder="enter your email address" class="form-control">
                </div>
                <div class="form-group">
                  <label>Password</label> <input type="password" placeholder="enter your password" class="form-control">
                </div>
                <div class="form-group">
                  <br/>
                  <input type="submit" class="btn btn-full btn-flat btn-primary" value="Sign In"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
    $(document).ready(function(){
          //initialize the javascript
          App.init();
        });
    </script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
