<!-- BEGIN TOP NAVIGATION -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top" style="background: #362c66;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-gear"></span>
      </button>
      <a class="navbar-brand" href="index.html"><span>CoEFFICIENT</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="dropdown profile_menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/48.jpg" class="header-profile-image" /></a>
          <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse animate-collapse -->
  </div>
</div>
<!-- END TOP NAVIGATION -->
