<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

<!-- BEGIN TOP NAVIGATION -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top" style="background: #362c66;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-gear"></span>
      </button>
      <a href="#" class="navbar-brand">
        <img alt="CoEFFICIENT" id="js-header-company-logo-thumbnail" src="https://s3.amazonaws.com/uifaces/faces/twitter/thomweerd/128.jpg" class="header-profile-image" />
        <span>
         CoEFFICIENT
        </span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" id="global-search">
        <li class="active"><a href="index.html">Home</a></li>
        <!-- <li><a href="messages.html">Messages</a></li> -->
        <li id="nav-global-search">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" placeholder="Search for People and Locations" class="form-control" id="global-search-input">
          </div>
          <ul class="dropdown-menu" id="global-search-results">
            <!-- GLOBAL SEARCH MESSAGES
            <li id="global-search-message">
              <p>No results found.</p>
              <p>Retrieving search results...</p>
            </li>-->
            <!-- GLOBAL SEARCH RESULTS - RECENT RESULTS -->
            <li class="global-search-header">Recent Searches</li>
            <li>
              <a href="#" class="global-search-item">
                <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/littlenicething/128.jpg"></div>
                <div class="global-search-title">
                  Nissan of Round Rock
                  <div class="global-search-subtitle">Round Rock, TX</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="global-search-item">
                <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg"></div>
                <div class="global-search-title">
                  Charles Day
                  <div class="global-search-subtitle">FOM</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="global-search-item">
                <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/scottkclark/128.jpg"></div>
                <div class="global-search-title">
                  Robert Alamar
                  <div class="global-search-subtitle">AGM</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="global-search-item">
                <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/psdesignuk/128.jpg"></div>
                <div class="global-search-title">
                  Pushville Nissan - 3423
                  <div class="global-search-subtitle">Pushville, AL</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="global-search-item">
                <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg"></div>
                <div class="global-search-title">
                  Paul Merriweather
                  <div class="global-search-subtitle">DOM</div>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="global-search-item">
                <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/theblogwidgets/128.jpg"></div>
                <div class="global-search-title">
                  Town North Nissan
                  <div class="global-search-subtitle">Austin, TX</div>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right user-nav">
        <li class="dropdown profile_menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" id="js-header-profile-image-thumbnail" src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/48.jpg" class="header-profile-image" /></a>
          <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse animate-collapse -->
  </div>
</div>
<!-- END TOP NAVIGATION -->
