<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>Wild Parrot</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="javascripts/bootstrap.datetimepicker/css/bootstrap-datepicker.standalone.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

  <link href="stylesheets/main.css" rel="stylesheet" />
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery/plugins/jquery.nanoscroller.js"></script>
  <script type="text/javascript" src="javascripts/localdev/general.js"></script>

</head>
<body>

  <% include header.html.ejs %>

  <!-- BEGIN WRAPPER -->
  <div id="cl-wrapper" class="fixed-menu aside">

    <!-- BEGIN SECONDARY NAVIGATION -->
    <div id="page-aside">
      <div class="content">
        <div id="aside-header" class="header">
          <button class="navbar-toggle" data-target="#aside-nav" data-toggle="collapse" type="button">
            <span class="fa fa-chevron-down"></span>
          </button>
          <h3>Notes</h3>
          <div class="main-action">
            <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i> New Note</button>
          </div>
        </div>
        <div id="aside-nav" class="collapse">
          <div id="aside-items">
            <ul class="content nano-content">
              <li class="note-date-section">OCTOBER 22, 2014</li>
              <li>
                <div class="title">My Note about Something</div>
                <div class="info">Dealership 1234 on October 22, 2014</div>
                <div class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a malesuada dui. Aliquam a ex eu enim sollicitudin...</div>
              </li>
              <li class="selected">
                <div class="title">My Note about Something</div>
                <div class="info">Dealership 1234 on October 22, 2014</div>
                <div class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a malesuada dui. Aliquam a ex eu enim sollicitudin...</div>
              </li>
              <li class="marked-done">
                <div class="title">My Note about Something</div>
                <div class="info">October 22, 2014</div> <!-- Example of no dealership -->
                <div class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a malesuada dui. Aliquam a ex eu enim sollicitudin...</div>
              </li>
              <li class="note-date-section">OCTOBER 21, 2014</li>
              <li>
                <div class="title">My Note about Something</div>
                <div class="info">Dealership 1234 on October 21, 2014</div>
                <div class="preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a malesuada dui. Aliquam a ex eu enim sollicitudin...</div>
              </li>
              <li class="end-of-items">End of Notes</li>
            </ul>
          </div>
          <div class="aside-scroll-header">
            <div id="aside-total-items">7 Notes</div>
            <div id="aside-sort">
              Sort by
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modified <i class="fa fa-sort-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">Modified</a></li>
                <li><a href="#">Visit</a></li>
                <li><a href="#">Location</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SECONDARY NAVIGATION -->



    <!-- BEGIN MAIN CONTENT AREA -->

      <div id="slideout">
        <!-- TODO: onclick is only temporary for markup purposes -->
        <div id="slideout-inner">
          <div class="slidein" onclick="slidein();"><i class="fa fa-times"></i></div>
        <!-- END TODO -->


          <!-- TODO: BEGIN SLIDEOUT CONTENT -->
          <div class="slideout-wrap">
            <div class="content">
              <div id="action-item-details">
                <div id="action-item-name">
                  <input id="action-item-checkbox" type="checkbox"> An action item with no set due date or assigned
                </div>
                <div class="action-item-meta">
                  <span class="meta-icon"><i class="fa fa-book"></i></span> My Note About Something
                </div>
                <div class="action-item-meta">
                  <span class="meta-icon"><i class="fa fa-building-o"></i></span> Town North Nissan - 1234
                </div>
                <div class="action-item-meta">
                  <span class="meta-icon"><i class="fa fa-user"></i></span> Jonathan Crowe (owner)
                </div>
              </div>
              <div class="form-group">
                <label>Assigned To</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" data-toggle="dropdown">
                  <ul class="dropdown-menu autocomplete-results full-width">
                    <!-- <li class="global-search-message">
                      <p>No results found.</p>
                    </li> -->
                    <li>
                      <a href="#" class="global-search-item">
                        <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg"></div>
                        <div class="global-search-title">
                          John Weathers
                          <div class="global-search-subtitle">FOM</div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="global-search-item">
                        <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/scottkclark/128.jpg"></div>
                        <div class="global-search-title">
                          Joe Johnson
                          <div class="global-search-subtitle">AGM</div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="global-search-item">
                        <div class="global-search-icon"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg"></div>
                        <div class="global-search-title">
                          Clay Johnson
                          <div class="global-search-subtitle">DOM</div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label>Due Date</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control datepicker">
                </div>
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="10"></textarea>
              </div>
              <button type="button" class="btn btn-nostyle btn-right"><i class="fa fa-trash-o"></i></button>
              <button type="button" class="btn btn-primary">Update</button>
              <button type="button" class="btn btn-default" onclick="slidein();">Cancel</button>
            </div>
          </div>
          <!-- END TODO -->

        </div>
      </div>
    <div id="pcont">
      <div id="fixed-action-header">
        <div class="action-header-left">
          <button type="button" id="print-button" class="btn btn-default"><i class="fa fa-print"></i></button>
          <button type="button" id="note-emailed" class="btn btn-default"><i class="fa fa-envelope"></i></button>
          <button type="button" id="note-deleted" class="btn btn-default"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <div class="cl-mcont">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="block-flat">
              <div class="content notes-container">
                <span class="note-metainfo">
                  <span class="created-on">Created on October 23, 2014</span>
                  <span class="meta-separator"> | </span>
                  <span class="modified-on">Last modified on November 12, 2014 at 2:14pm</span>
                </span>
                <h3 id="note-title">Note on October 23, 2014</h3>
                <div class="visit-info">
                  <div class="visit-info-row">
                    <span class="visit-info-label">Visited on:</span>
                    <input class="datepicker" type="text" value="October 24, 2014" />
                  </div>
                  <div class="visit-info-row">
                    <span class="visit-info-label">Location:</span>
                    <span class="location-selector">
                      <span id="set-location" class="dropdown-toggle" data-toggle="dropdown"></span>
                      <ul class="dropdown-menu autocomplete-results">
                        <li><a href="#">Trophy Nissan</a></li>
                        <li><a href="#">Town North Nissan</a></li>
                        <li><a href="#">Clay Cooley Nissan</a></li>
                      </ul>
                    </span>
                  </div>
                </div>
                <section id="editor">
                  <div id="note-content" class="froala-box">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta tellus ipsum, ut laoreet dui porta eu. Nam ultrices viverra erat accumsan pretium. Vestibulum sit amet sapien dolor. Curabitur eget orci ut arcu placerat accumsan. Vestibulum imperdiet quam a lacinia aliquam. Suspendisse rhoncus pellentesque tellus ac varius. Aliquam commodo tellus sed fringilla eleifend.
                    </p>
                    <ul>
                      <li>Phasellus cursus porta</li>
                      <li>Sed ac facilisis lorem</li>
                      <li>Donec sem turpis</li>
                      <li>Duis egestas blandit</li>
                    </ul>
                    <p>
                      <strong>Morbi id mauris vel massa sollicitudin tincidunt.</strong><br/>
                      <em>Quisque maximus mi id sagittis ullamcorper.</em><br/>
                      <u>Aliquam erat volutpat.</u>
                    </p>
                    <blockquote>
                      Sed eget sapien imperdiet, ornare justo a, laoreet orci. Aenean vitae leo pretium, finibus ligula at, vehicula dui. Donec ut nibh volutpat, tristique turpis ut, venenatis ipsum. Maecenas id urna eget nisl dapibus porta ut vel nisi. Pellentesque varius purus et erat molestie volutpat. Cras id ullamcorper libero, vitae placerat lorem. Vestibulum eget odio felis.
                    </blockquote>
                    <ol>
                      <li>Phasellus cursus porta</li>
                      <li>Sed ac facilisis lorem</li>
                      <li>Donec sem turpis</li>
                      <li>Duis egestas blandit</li>
                    </ol>
                  </div>
                </section>
              </div>
            </div>
            <div class="block-flat">
              <div class="content">
                <h3>Action Items</h3>
                <ul class="list-group">
                  <li class="list-group-item">
                    <input type="checkbox" checked name="check1" class="action-item-checkbox">
                    <a href="javascript:void(0);" onclick="slideout();" class="list-group-item-link">
                      <span class="item-done">Phasellus cursus porta</span>
                      <div class="item-assigned-to"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<div class='user-popover'><img src='https://s3.amazonaws.com/uifaces/faces/twitter/sethjuarez/128.jpg' class='profile-pic'><div class='user-name'>Seth Juarez</div><div class='user-title'>Manager</div></div>"/></div>
                      <span class="marked-complete">Marked complete on April 10, 2015</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <input type="checkbox" name="check2" class="action-item-checkbox">
                    <a href="javascript:void(0);" onclick="slideout();" class="list-group-item-link">
                      Sed ac facilisis lorem
                      <div class="item-assigned-to"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/scottkclark/128.jpg" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<div class='user-popover'><img src='https://s3.amazonaws.com/uifaces/faces/twitter/scottkclark/128.jpg' class='profile-pic'><div class='user-name'>Scott K Clark</div><div class='user-title'>Manager</div></div>"/></div>
                      <span class="on-track">May 05, 2015</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <input type="checkbox" name="check3" class="action-item-checkbox">
                    <a href="javascript:void(0);" onclick="slideout();" class="list-group-item-link">
                      Donec sem turpis
                      <div class="item-assigned-to"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<div class='user-popover'><img src='https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg' class='profile-pic'><div class='user-name'>Josh Austin</div><div class='user-title'>Manager</div></div>"/></div>
                      <span class="past-due">April 30, 2015</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <input type="checkbox" name="check4" class="action-item-checkbox">
                    <a href="javascript:void(0);" onclick="slideout();" class="list-group-item-link">
                      Duis egestas blandit
                      <div class="item-assigned-to"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<div class='user-popover'><img src='https://s3.amazonaws.com/uifaces/faces/twitter/joshaustin/128.jpg' class='profile-pic'><div class='user-name'>Josh Austin</div><div class='user-title'>Manager</div></div>"/></div>
                      <span class="on-track">May 15, 2015</span>
                    </a>
                  </li>
                </ul>
                <a href="javascript:void(0);">+ Add a new action item</a>
              </div>
            </div>
            <div class="block-flat">
              <div class="content">
                <h3>Attachments</h3>
                <div id="attachments">
                  <div class="attachment-item">
                    <div id="add-attachment">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-plus fa-stack-1x"></i>
                      </span>
                    </div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <img src="http://www.birdchannel.com/images/articles/bird-blog/macaw-flock-lg.jpg">
                    </div>
                    <div class="attachment-info"><i class="fa fa-picture-o"></i> image01.jpg</div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <img src="http://blog.pennlive.com/pets/2008/01/medium_Macaw-jpatokal.jpg" class="portrait">
                    </div>
                    <div class="attachment-info"><i class="fa fa-picture-o"></i> image02.jpg</div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <img src="images/videoOverlay.png" class="is-video">
                      <img src="http://www.nejohnston.org/Birds/2010/12/Images/IMG_7923.jpg">
                    </div>
                    <div class="attachment-info"><i class="fa fa-video-camera"></i> movie01.mov</div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <img src="http://www.parrots.org/images/parrotgallery/SunConure/wpt1177_medium.jpg">
                    </div>
                    <div class="attachment-info"><i class="fa fa-picture-o"></i> example-of-a-long-filename.png</div>
                  </div>
                  <div class="attachment-item">
                    <div class="attachment-img">
                      <i class="fa fa-file"></i>
                    </div>
                    <div class="attachment-info"><i class="fa fa-file"></i> attachedfile.jpg</div>
                  </div>
                  <div class="attachment-item is-loading">
                    <div class="attachment-img">
                      <i class="fa fa-picture-o"></i>
                      <div class="loading-bar">
                        <div class="loading-bar-meter" style="width: 70%"></div>
                      </div>
                    </div>
                    <div class="attachment-info"><i class="fa fa-picture-o"></i> toffee.jpg</div>
                  </div>
                  <div class="attachment-item is-loading">
                    <div class="attachment-img">
                      <i class="fa fa-file"></i>
                      <div class="loading-bar">
                        <div class="loading-bar-meter" style="width: 10%"></div>
                      </div>
                    </div>
                    <div class="attachment-info"><i class="fa fa-file"></i> anotherone.pdf</div>
                  </div>
                  <div class="attachment-item is-loading">
                    <div class="attachment-img">
                      <i class="fa fa-video-camera"></i>
                      <div class="loading-bar">
                        <div class="loading-bar-meter" style="width: 20%"></div>
                      </div>
                    </div>
                    <div class="attachment-info"><i class="fa fa-video-camera"></i> blahblah.mov</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT AREA -->

  </div>
  <!-- END WRAPPER -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <script type="text/javascript" src="javascripts/bootstrap.datetimepicker/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript">
    $(document).ready(function(){
      //initialize the javascript
      App.init();

      $(".datepicker").datepicker({
        todayHighlight: true,
        format: "MM dd, yyyy"
      });

      $('[data-toggle="popover"]').popover();
    });

    $("#note-emailed").click(function(){
      toastr.options.closeButton = true;
      toastr.options.positionClass = "toast-top-right";
      toastr.options.preventDuplicates = false;
      toastr.options.timeOut = -1;
      toastr.options.extendedTimeOut = -1;
      toastr.options.tapToDismiss = false;

      // toastr.info("Note on October 23, 2014 has been emailed to syang@square-root.com.")
      toastr.error("There was a problem uploading testing.png to 'Note on October 23, 2014'. <a href='#'>View note</a>")
    });

    $("#note-delete").click(function(){
      $("#note-delete").popover('toggle');
    });
    $("#note-deleted").click(function(){
      toastr.options.closeButton = true;
      toastr.options.positionClass = "toast-top-right";
      toastr.options.preventDuplicates = false;
      toastr.options.timeOut = -1;
      toastr.options.extendedTimeOut = -1;
      toastr.options.tapToDismiss = false;

      toastr.info("Note on October 23, 2014 has been deleted. <a href='#'>Undo</a>")
    });
  </script>
  <!-- TODO: The functions below are only temporary for purposes of markup -->
  <script>
    function slideout() {
      $("#slideout").addClass("active");
    }
    function slidein() {
      $("#slideout").removeClass("active");
    }
  </script>
  <!-- END TODO -->
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
