<div class="cl-sidebar">
  <div class="cl-toggle"><i class="fa fa-bars"></i></div>
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content nano-content">
        <ul class="cl-vnavigation">
          <li id="sidebar-profile">
            <img src="http://s3-media4.fl.yelpcdn.com/bphoto/7aM0v24qR7lME0c8-LidOw/ls.jpg" title="Town North Nissan - 2304">
            <div id="current-name">Town North Nissan - 2304</div>
            <div id="current-title">Austin, TX</div>
          </li>
          <li><a href="locationspublic.html" title="Profile"><i class="fa fa-building"></i><span>Profile</span></a></li>
          <li><a href="actionitems.html" title="Action Items"><i class="fa fa-check-square-o"></i><span>Action Items</span></a></li>
          <li><a href="homepage.html" title="Notebook"><i class="fa fa-book"></i><span>Notebook</span></a></li>
        </ul>
      </div>
    </div>
    <div class="collapse-button">
      <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
    </div>
  </div>
</div>