<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>My Profile</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

  <link href="stylesheets/main.css" rel="stylesheet" />
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery/plugins/jquery.nanoscroller.js"></script>
  <script type="text/javascript" src="javascripts/coefficient/general.js"></script>

</head>
<body>

  <% include header.html.ejs %>

  <div id="cl-wrapper" class="fixed-menu">

    <% include profile-sidebar.html.ejs %>

    <div class="cl-mcont">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-flat">
            <div class="profile-badge">
              <div class="badge-row">
                <div class="badge-cell profile-image">
                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/128.jpg" >
                </div>
                <div class="badge-cell profile-details">
                  <span class="profile-name">John Weathers</span>
                  <!-- [syang] Edit link may be temporary; Currently, just want a way to link between edit and view page -->
                  <a href="myprofile.html" class="profile-edit">Edit</a><br/>
                  Field Operations Manager<br/>
                  (123) 456-7890<br/>
                  <a href="mailto:jweathers@company.com">jweathers@company.com</a>
                </div>
                <div class="badge-cell social">
                  <button type="button" class="btn btn-default btn-facebook">
                    <i class="fa fa-facebook"></i>
                  </button>

                  <button type="button" class="btn btn-default btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-default btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                  </button>

                  <button type="button" class="btn btn-default btn-google-plus">
                    <i class="fa fa-google-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
    $(document).ready(function(){
          //initialize the javascript
          App.init();
        });
    </script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
