<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>Wild Parrot</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="javascripts/bootstrap.datetimepicker/css/bootstrap-datepicker.standalone.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

  <link href="stylesheets/main.css" rel="stylesheet" />
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery/plugins/jquery.nanoscroller.js"></script>
  <script type="text/javascript" src="javascripts/localdev/general.js"></script>
  <script type="text/javascript" src="javascripts/html5lightbox/html5lightbox.js"></script>

</head>
<body>

  <% include header.html.ejs %>

  <!-- BEGIN WRAPPER -->
  <div id="cl-wrapper" class="fixed-menu aside">

    <% include notes-sidebar.html.ejs %>

    <div id="pcont">
      <div id="fixed-action-header">
        <div class="action-header-right">
          <span class="action-message">This audit is currently <strong>Draft</strong></span>
          <div class="disabled-button-wrapper" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="You must provide an audit name and at least 1 audit item before publishing.">
            <button class="btn btn-success" disabled>Publish</button>
          </div>
          <!-- <button id="publish-note" class="btn btn-success" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<p>You will no longer be able to edit this audit once it is published.<br/>Are you sure you want to publish?</p> <button type='button' id='cancel-publish' onclick='close_popover();' class='btn btn-xs btn-nostyle-popover'>No</button> <button type='button' class='btn btn-xs btn-default'>Yes</button>">Publish</button> -->
        </div>
        <div class="action-header-left">
          <button type="button" id="print-button" class="btn btn-default"><i class="fa fa-print"></i></button>
          <button type="button" id="delete-button" class="btn btn-default"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
      <div class="cl-mcont">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="block-flat">
              <div class="content notes-container">
                <span class="note-metainfo">
                  <span class="created-on">Created on May 23, 2015 by Missy Bergen</span>
                </span>
                <h3 id="note-title">Untitled Audit</h3>
                <section id="editor">
                  <div id="note-content" class="froala-box">
                    Drag and drop files here or start typing..
                  </div>
                </section>
              </div>
            </div>
            <div class="block-flat">
              <div class="header">
                <h3>Attachments</h3>
              </div>
              <div class="content">
                <div id="attachments">
                  <div class="attachment-item">
                    <div id="add-attachment">
                      <span class="fa-stack fa-2x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-plus fa-stack-1x"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="block-flat">
              <div class="header">
                <h3>Items</h3>
              </div>
              <div class="content">
                <!-- START AUDIT ITEM -->
                <ul class="list-group">
                  <li class="list-group-item list-group-item-link">
                    <a class="delete-item"><i class="fa fa-trash-o"></i></a>
                    Item name over here
                  </li>
                  <li class="list-group-item list-group-item-link">
                    <a class="delete-item"><i class="fa fa-trash-o"></i></a>
                    Second audit item
                  </li>
                  <li class="list-group-item list-group-item-link">
                    <a class="delete-item"><i class="fa fa-trash-o"></i></a>
                    Ethical Odd Future twee tousled deep v seitan, Carles mustache master cleanse four dollar toast banjo PBR&B flexitarian scenester next level. Pop-up meggings quinoa Tumblr try-hard, lomo master cleanse Bushwick you probably haven't heard of them organic locavore
                  </li>
                </ul>
                <!-- END AUDIT ITEM -->
                <a href="javascript:void(0);">+ Add a new item</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT AREA -->

  </div>
  <!-- END WRAPPER -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript">
    $(document).ready(function(){
      //initialize the javascript
      App.init();

      $(".nscroller").nanoScroller({ preventPageScrolling: true });

      $('[data-toggle="popover"]').popover();
    });
  </script>
  <script>
    function close_popover() {
      $("#publish-note").popover('hide');
    }
  </script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
