<div class="cl-sidebar">
  <div class="cl-toggle"><i class="fa fa-bars"></i></div>
  <div class="cl-navblock">
    <div class="collapse-button">
      <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
    </div>
    <div class="menu-space">
      <div class="content nano-content">
        <ul class="cl-vnavigation">
          <li><a href="myprofilepublic.html"><i class="fa fa-user"></i><span>My Profile</span></a></li>
          <li><a href="changepassword.html"><i class="fa fa-key"></i><span>Change Password</span></a></li>
          <li><a href="companyprofilepublic.html"><i class="fa fa-building-o"></i><span>Company Profile</span></a></li>
          <li><a href="companysettings.html"><i class="fa fa-gear"></i><span>Company Settings</span></a></li>
          <li><a href="locationsadmin.html"><i class="fa fa-map-marker"></i><span>Locations</span></a></li>
          <li><a href="users.html"><i class="fa fa-users"></i><span>Users</span></a></li>
          <li><a href="roles.html" title="Roles"><i class="fa fa-key"></i><span>Roles</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>