<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>Wild Parrot</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="javascripts/bootstrap.datetimepicker/css/bootstrap-datepicker.standalone.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

  <link href="stylesheets/main.css" rel="stylesheet" />
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery/plugins/jquery.nanoscroller.js"></script>
  <script type="text/javascript" src="javascripts/localdev/general.js"></script>
  <script type="text/javascript" src="javascripts/html5lightbox/html5lightbox.js"></script>

</head>
<body>

  <% include header.html.ejs %>

  <!-- BEGIN WRAPPER -->
  <div id="cl-wrapper" class="fixed-menu aside">

    <% include profile-sidebar.html.ejs %>

    <div class="page-head">
      <h2>Roles</h2>
    </div>
    <div class="cl-mcont">
      <div class="row">
        <div class="col-sm-12">
          <div class="block-flat">
            <div class="content">
              <table class="datatable extra-padded">
                <tbody>
                  <tr class="disabled">
                    <td class="title-colummn">Administrator</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in ex aliquet, molestie neque in, euismod risus. Sed eu euismod ligula. Donec massa eros</td>
                  </tr>
                  <tr class="disabled">
                    <td class="title-colummn">Corporate</td>
                    <td>Mauris et convallis lorem. Duis pellentesque turpis sed metus scelerisque, accumsan tempus mauris porta. Nunc imperdiet tincidunt tortor, non varius nibh gravida eu.</td>
                  </tr>
                  <tr class="disabled">
                    <td class="title-colummn">Field</td>
                    <td>Nulla convallis leo quis erat ullamcorper lacinia eget sit amet ex. Curabitur scelerisque ligula eu egestas laoreet. Vestibulum in pharetra nisi, a dictum nibh.</td>
                  </tr>
                  <tr class="disabled">
                    <td class="title-colummn">Location</td>
                    <td>Integer bibendum feugiat tellus, at eleifend ex iaculis id. Ut semper nulla non ultrices rhoncus. Morbi et sollicitudin leo. Nunc at risus vitae metus dignissim feugiat</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END WRAPPER -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <script type="text/javascript" src="javascripts/bootstrap.datetimepicker/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript">
    $(document).ready(function(){
      //initialize the javascript
      App.init();

      $(".nscroller").nanoScroller({ preventPageScrolling: true });

      $(".datepicker").datepicker({
        todayHighlight: true,
        format: "MM dd, yyyy"
      });

      $('[data-toggle="popover"]').popover();
    });
  </script>
  <!-- END TODO -->
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
