<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png">

  <title>Welcome to CoEFFICIENT!</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
  <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

  <link href="stylesheets/main.css" rel="stylesheet" />
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="javascripts/jquery/plugins/jquery.nanoscroller.js"></script>
  <script type="text/javascript" src="javascripts/localdev/general.js"></script>

</head>
<body>

  <!-- BEGIN WRAPPER -->
  <div id="cl-wrapper">

    <!-- BEGIN MAIN CONTENT AREA -->
    <div class="cl-mcont">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="auth-header">
            <img src="/images/logo75.png"/>
            <h2 class="hthin">Welcome to CoEFFICIENT!</h2>
            Finish creating your account.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-4"></div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="auth-subheader">
            <label>Email Address</label> tsingleton@square-root.com<br/>
            <label>Company Name</label> Square Root
          </div>
          <div class="block-flat">
            <div class="content">
              <form role="form">
                <div class="form-group">
                  <label>Name</label> <input type="text" placeholder="enter your first and last name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Create a Password</label> <input type="password" placeholder="create your password" class="form-control">
                </div>
                <div class="form-group">
                  <label>Confirm Password</label> <input type="password" placeholder="re-enter your password" class="form-control">
                </div>
                <div class="form-group">
                  <br/>
                  <input type="submit" class="btn btn-full btn-flat btn-primary" value="Get Started" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4 col-lg-4"></div>
      </div>
    </div>
    <!-- END MAIN CONTENT AREA -->

  </div>
  <!-- END WRAPPER -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript">
  $(document).ready(function(){
        //initialize the javascript
        App.init();
      });
  </script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
