<div class="cl-sidebar">
  <div class="cl-toggle"><i class="fa fa-bars"></i></div>
  <div class="cl-navblock">
    <div class="collapse-button">
      <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color: #c9d4f6;" class="fa fa-angle-left"></i></button>
    </div>
    <div class="menu-space">
      <div class="content nano-content">
        <ul class="cl-vnavigation">
          <li><a href="/"><i class="fa fa-heart"></i><span>Styleguide</span></a>
          </li>
          <li class="parent open"><a href="#"><i class="fa fa-folder-open"></i><span>Layouts</span></a>
            <ul class="sub-menu" style="display: block;">
              <li><a href="pages-blank.html">Main Layout</a></li>
              <li><a href="pages-blank-header.html">w/ Page Title</a></li>
              <li><a href="pages-blank-breadcrumb.html">w/ Page Title &amp; Breadcrumb</a></li>
              <li><a href="pages-blank-aside.html">w/ Aside</a></li>
              <li><a href="pages-auth.html">Authentication</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>