// ----------------------------
// TABLES
// ----------------------------

.pre-table
  display: table
  width: 100%
  padding-bottom: 10px
  .num-rows-option
    display: table-cell
    text-align: right
    vertical-align: middle

table
  border-collapse: collapse
  width: 100%
  thead
    border: 1px solid $greylight
    border-bottom: 1px solid $greylight
    th
      @extend %body_copy
      vertical-align: bottom
      padding: 10px 8px 5px 8px
  tbody
    tr
      &:first-child
        border-top: 1px solid $greylight
    td
      padding: 7px 8px
      @extend %small
      border-bottom: 1px solid $greylight
      &:first-child
        border-left: 1px solid $greylight
      &:last-child
        border-right: 1px solid $greylight

  &.datatable
    tr:nth-child(2n)
      background-color: $silver
    a
      display: block
      color: $text-color
    tbody
      tr:hover:not(.disabled)
        background-color: rgba($primary, 0.1)
        cursor: pointer

  &.extra-padded
    td
      padding: 25px

  .title-colummn
    vertical-align: top
    font-weight: 700

  .no-border
    border: 0

.fa-sort-up.active,
.fa-sort-down.active
  color: $primary

.empty_table
  padding: 10px


// ----------------------------
// PAGINATION
// ----------------------------

.pagination
  display: block
  text-align: right
  overflow: hidden
  border-radius: 0
  ul
    padding: 0
    overflow: hidden
    float: right
  .pagination-item
    margin: 0
    padding: 5px 10px
    border: 1px solid $greylight
    list-style: none
    float: left
    &.current
      background-color: $grey
      font-weight: 600
    &:hover:not(.inactive)
      background-color: $grey
      cursor: pointer
