// ----------------------------
// TAG CLOUD
// ----------------------------

.tag-item
  display: inline-block
  background: $silver
  border-radius: 15px
  border: 1px solid $grey
  white-space: nowrap
  padding: 5px 10px
  margin: 0 5px 10px 0

  .remove-tag
    color: $text-color
    margin-left: 5px
    @extend %icon-small
    &:hover
      color: $link-hover
      cursor: pointer
