%button.btn.btn-xs.btn-default{:type => "button"} Default
%button.btn.btn-xs.btn-primary{:type => "button"} Primary
%button.btn.btn-xs.btn-success{:type => "button"} Success
%button.btn.btn-xs.btn-info{:type => "button"} Info
%button.btn.btn-xs.btn-warning{:type => "button"} Warning
%button.btn.btn-xs.btn-danger{:type => "button"} Danger

%hr

%button.btn.btn-sm.btn-default{:type => "button"} Default
%button.btn.btn-sm.btn-primary{:type => "button"} Primary
%button.btn.btn-sm.btn-success{:type => "button"} Success
%button.btn.btn-sm.btn-info{:type => "button"} Info
%button.btn.btn-sm.btn-warning{:type => "button"} Warning
%button.btn.btn-sm.btn-danger{:type => "button"} Danger

%hr

%button.btn.btn-lg.btn-default{:type => "button"} Default
%button.btn.btn-lg.btn-primary{:type => "button"} Primary
%button.btn.btn-lg.btn-success{:type => "button"} Success
%button.btn.btn-lg.btn-info{:type => "button"} Info
%button.btn.btn-lg.btn-warning{:type => "button"} Warning
%button.btn.btn-lg.btn-danger{:type => "button"} Danger

%hr


%button.btn.btn-default{:type => "button"} Default
%button.btn.btn-primary{:type => "button"} Primary
%button.btn.btn-success{:type => "button"} Success
%button.btn.btn-info{:type => "button"} Info
%button.btn.btn-warning{:type => "button"} Warning
%button.btn.btn-danger{:type => "button"} Danger

%hr

%button.btn.btn-default{:type => "button", :disabled => ""} Default
%button.btn.btn-primary{:type => "button", :disabled => ""} Primary
%button.btn.btn-success{:type => "button", :disabled => ""} Success
%button.btn.btn-info{:type => "button", :disabled => ""} Info
%button.btn.btn-warning{:type => "button", :disabled => ""} Warning
%button.btn.btn-danger{:type => "button", :disabled => ""} Danger
