/*!
 * froala_editor v1.2.7 (https://www.froala.com/wysiwyg-editor)
 * License https://www.froala.com/wysiwyg-editor/terms
 * Copyright 2014-2015 Froala Labs
 */

.froala-view {
  line-height: 140%;
  ul, ol {
    padding-left: 25px;
  }
}

ul.fr-tag, ol.fr-tag {
  padding-left: 25px;
}

.froala-view p, p.fr-tag {
  margin: 0 0 10px;
}

.froala-view h1, h1.fr-tag {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.froala-view h2, h2.fr-tag {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.froala-view h3, h3.fr-tag {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.froala-view h4, h4.fr-tag {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.froala-view h5, h5.fr-tag {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.froala-view h6, h6.fr-tag {
  font-size: 12px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}