<div class="container-fluid footer">
  <footer>
    <p class="text-muted pull-left">Copyright &#169; <%= Time.now.year %>. Verve Mobile</p>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">About Verve</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Email Us</a></li>
      </ul>
    </div>
  </footer>
</div>
