<div class="container-fluid footer">
  <footer>
    <p class="text-muted pull-left">Copyright &#169; <%= Time.now.year %>. Verve Mobile</p>
    <a href="http://vervemobile.com/tandc.html" class="footer-link">Terms</a>
    <a href="http://vervemobile.com/privacy.html" class="footer-link">Privacy Policy</a>
    <div class="pull-right">
      <a href="http://vervemobile.com/" class="footer-link">About Verve</a>
      <a href="http://support.vervemobile.com/" class="footer-link">Help Center</a>
      <a href="mailto:adops@vervemobile.com" class="footer-link">Email Us</a>
    </div>
  </footer>
</div>
