
<div class="col-sm-3 col-md-2 accordion sidebar" id="acd1">
  <div class="accordion-group">
      <div class="accordion-heading" id="menu-controller">
        <ul class="nav nav-stacked nav-sidebar">
          <li>
            <a class="accordion-toggle collapsed"><i class="glyphicon glyphicon-plus"></i></a>
          </li>
        </ul>
      </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <ul class="nav nav-stacked nav-sidebar">
        <li>
          <a href="#overview" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#acd1" data-target="#reports-accordion">
            <i class="glyphicon glyphicon-dashboard"></i><span>Reports <i class="caret"></i></span>
          </a>
          <ul id="reports-accordion" class="accordion-body collapse">
            <li class="active"><a href="#">Publisher Reports</a> <i class="caret"></i></li>
            <li><a href="#">VLM Programmatic Direct</a></li>
            <li><a href="#">Geo-temporal</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <ul class="nav nav-stacked nav-sidebar">
        <li>
          <a href="#overview" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#acd1" data-target="#api-accordion">
            <i class="glyphicon glyphicon-record"></i><span>API <i class="caret"></i></span>
          </a>
          <ul id="api-accordion" class="accordion-body collapse">
            <li><a href="#">Publisher Reports</a></li>
            <li><a href="#">VLM Programmatic Direct</a></li>
            <li><a href="#">Geo-temporal</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <ul class="nav nav-stacked nav-sidebar">
        <li>
          <a href="#overview" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#acd1" data-target="#schedules-accordion">
            <i class="glyphicon glyphicon-folder-open"></i><span>Schedules <i class="caret"></i></span>
          </a>
          <ul id="schedules-accordion" class="accordion-body collapse">
            <li><a href="#">Publisher Reports</a></li>
            <li><a href="#">VLM Programmatic Direct</a></li>
            <li><a href="#">Geo-temporal</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <ul class="nav nav-stacked nav-sidebar">
        <li>
          <a href="#overview" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#acd1" data-target="#samples-accordion">
            <i class="glyphicon glyphicon-folder-open"></i><span>Samples <i class="caret"></i></span>
          </a>
          <ul id="samples-accordion" class="accordion-body collapse">
            <li><a href="/samples/forms">Forms</a></li>
            <li><a href="/samples/listings">Listings</a></li>
            <li><a href="/samples/details">Details</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>